@tailwind base;
@tailwind components;
@tailwind utilities;

.text-right-align {
  text-align: center; /* Centers text within the cell */
}

.text-right-align::after {
  content: "";
  display: inline-block;
}
